.projects
  list-style-type: none
  padding-left: 0

.projects .project a
  text-decoration: none

.project a
  display: block

.project span
  display: inline-block

.project .name
  font-weight: bold

.project .description
  padding-left: 10px

.project .participants
  padding-right: 10px
