.user .projects
  list-style-type: none
  padding-left: 0

.user .projects li
  width: 100%
  float: none
  padding-top: 0

.user .projects .project a
  text-decoration: none

.user .project a
  display: block

.user .project span
  display: inline-block

.user .project .name
  font-weight: bold

.user .project .description
  padding-left: 10px
  overflow: visible

.user .project .participants
  padding-right: 10px

.user .evaluation .author, .evaluation .project
  padding-right: 5px
